<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Language" content="en" />
	<meta name="viewport" content="width=device-width" />
	<meta name="keywords" content="blog, scant3r, dwm, suckless, linux, bug hunting, python, knassar702" />
	<meta name="description" content="knassar702 blog" />
	<meta name="author" content="knassar702" />
    <title>{{page.title}}</title>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/assets/css/print.css" type="text/css" media="print" />
	<link rel="alternate" href="/atom.xml" type="application/atom+xml" title="knassar702 Atom Feed" />
	<link rel="alternate" href="/atom_content.xml" type="application/atom+xml" title="knassar702 Atom Feed with content" />
	<link href="https://knassar7o2.blogspot.com/favicon.ico" rel="icon" type="image/x-icon">
</head>
<body><pre>
_  __                              _____ ___ ____  
| |/ /_ __   __ _ ___ ___  __ _ _ _|___  / _ \___ \ 
| ' /| '_ \ / _` / __/ __|/ _` | '__| / / | | |__) |
| . \| | | | (_| \__ \__ \ (_| | |   / /| |_| / __/ 
|_|\_\_| |_|\__,_|___/___/\__,_|_|  /_/  \___/_____|
    <p>Back-end Developer | Part Time Bug Bounty Hunter</p>
	</pre>
	<nav id="menuwrap">
		<table id="menu" width="100%" border="0">
		<tr>
			<td id="links" align="left">
				<a target="_blank" href="/blog/">Blog</a> |
				<a target="_blank" href="https://dev.to/knassar702">Dev.to</a> |
				<a target="_blank" href="https://leetcode.com/knassar702">LeetCode</a> |
				<a target="_blank" href="https://hackerone.com/floppahack">HackerOne</a> |
				<a target="_blank" href="https://paypal.me/knassar702">Support</a> |
				<a target="_blank" href="mailto:knassar702@protonmail.com" title="Mail me">Mail</a> |
                <a target="_blank" href="https://github.com/knassar702" title="Git repository of scant3r">Github</a> | <a href="https://twitter.com/knassar702">Twitter</a>
			</td>
		</tr>
		</table>
	</nav>
		<div class="container">
			{{ content }}
			{% if site.snow == 1 %}{% include snow.html %}{% endif %}
			<div class="container col-md-8 col-md-offset-2">
				<hr>
				<footer class="footer">
					<p class="text-center">Copyright {{ site.time | date: "%Y" }} <a href="https://github.com/orgs/void-linux/people">VoidLinux contributors</a></p>
					<p class="text-center">Copyright 2008-2018 <a href="https://gitlab.com/xtraeme">Juan RP</a> and contributors</p>
					<p class="text-center">Linux&#174; is a registered trademark of Linus Torvalds (<a href="https://www.linuxfoundation.org/programs/legal/trademark/attribution">info</a>)</p>
				</footer>
			</div>
		</div>
	</body>
</html>
